<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CryptoUncos - Ваш гид в мире криптовалют{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}"><img src="{% static 'main/images/logo.png' %}" alt="CryptoUncos Logo" width="50"></a></li>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'resources' %}">Полезные ресурсы</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 CryptoUncos. Все права защищены.</p>
    </footer>
</body>
</html>